<!DOCTYPE html>
<html>
<head>
	<title></title>
<!-- 
	<style>
	.hidden {
	    display: none;
	}
	</style>
-->
</head>
<body>
          <div>
          <center><h3>Number Of Students in different departments IITK</h3></center>
      		<div class="hidden">
      			<ul> CSE: <?= $count['CSE'] ?></ul>
      			<ul> BSBE: <?= $count['BSBE'] ?></ul>
      			<ul> ME: <?= $count['ME'] ?></ul>
      		</div>
          </div>
          <div id="chart1"> </div>
          
         <?php $chart->printScripts(); ?>

         <script type="text/javascript">
             <?php echo $chart->render("chart");?>
         </script>
</body>
</html>