<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="index large-4 medium-4 large-offset-4 medium-offset-4 columns">
          <?php  
          foreach ($query as $user) {  ?>

                <div>
                  <h3>Name: <?= $user->name ?> </h3> 
                  <h3>Username: <?= $user->username ?> </h3> 
                  <h3>Department: <?= $user->department ?> </h3>
                  <h3>Program: <?= $user->program ?> </h3> 
                  <h3>Batch: <?= $user->batch ?> </h3> 
                </div>
                
          
          <?php } ?>
          

        </div>
        <div>
          <h4>Charts and Analysis</h4>
          <li><?= $this->Html->link('Chart1', ['controller' => 'users', 'action' => 'chart1']); ?></li>
        </div>
      </div>
    </div>
</body>
</html>